.signup{
    width: 100%;
    height: 100%;
    
    background-image:url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lago-1257-home-office-36e8-with-air-desk-1593015859.jpg?crop=1.00xw:0.937xh;0,0.0537xh&resize=980:*");
    background-repeat:no-repeat;
    background-size: 100% 100%;

}