.fa-heart {
    color :palevioletred;
    cursor : pointer;
}
.card:hover{
    border-radius: 4px;
    background: rgb(11, 153, 106);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 12px 40px 14px 26px;
  cursor: pointer;
}