.login{
    width: 100%;
    height: 45em;
    padding: 20px 100px;
    background-size: 100% 100%;
    background-image:url("https://media.architecturaldigest.com/photos/56b524de4ac3d842677b9ac0/master/w_2323,h_1548,c_limit/home-office-01.jpg");
}